<%- include('layouts/header.ejs') %>

<br>
<div style="text-align: center;">
    <h1>Drinks</h1>
</div>
<hr>
<br>

<!--Recipe 6-->
<div>
                        
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="card back" style="width: 18rem;">
          <img src="images/margarita.jpg" class="card-img-top" alt="ribs">
          <div class="card-body">
            <h5 class="card-title">Traditional Margarita</h5>
            <p class="card-text">A margarita for the senorita</p>
            <button class="btn button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling5" aria-controls="offcanvasScrolling">Tips</button>
  
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling5" aria-labelledby="offcanvasScrollingLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Tips</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <p>The tequila that you can buy outside of Mexico is less strong than the one that is bought within Mexico. 
                  So drink with measure if one day you visit Mexico. </p>
              </div>
            </div>
            
          </div>
         
        </div>
        <div class="col-3 card p-3" style="width: 50rem ; text-align: left;">
          <div class="card-body fon">
            <h5 class="card-title text-align: right;">Ingredients</h5>
            <li>1/2 cups of tequila (best choice Herradura tequila)</li>
            <li>3/4 cups orange liqueur</li>
            <li>1/2 cups lemon juice</li>
            <li>1 lemon cut in half</li>
            <li>1 green lemon, cut into thin slices</li>
            <li>2 tablespoons of sugar</li>
            <li>salt</li>
            <li>ice</li>
            <br>
            <h5 class="card-title text-align: right;">Preparation</h5>
            <p class="card-text">Take a quarter of a lemon and pass it through each glass to prepare them with salt.<br><br>
              Put the glass on a salted plate in such a way that the edge of the glass is covered with salt.<br><br>
              In a blender mix ice, tequila, orange liqueur and lemon juice<br><br>
              Serve in glasses covered with salt and decorate with a slice of lemon.</p>
            
          </div>
        </div>
          
          </div>

         

          
      </div>
      <!--Ends recipe 6-->
     
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div>
        <img src="images/ca.jpg " class="d-block w-100" alt="footstep" >

      </div>






<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

      