<%- include('layouts/header.ejs') %>

      <!--Begins carousel-->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/pozole.jpg " class="d-block w-100 fit" alt="pozole" >
          </div>
          <div class="carousel-item">
            <img src="images/pastor.jpg" class="d-block w-100 fit" alt="Al pastor">
          </div>
          <div class="carousel-item">
            <img src="images/costillas.jpg" class="d-block w-100 fit" alt="ribs">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--Ends carousel-->
      <br>
      
      <br>
      <div style="text-align: center;">
        <h1>Bienvenido!</h1>
        <br>
        <h4>Casa Pancho's is a website where you can find Mexican food recipes.</h4>
        <br>
        <hr>
        <br>

        <div>

        <div class=" div text-align: right">
          <p>
            <img src="images/quezadillas.jpg"  class="rounded shadow-lg p-3 mb-5 bg-white rounded"alt="Quezabirrias" style="float:left" width="50%" height="50%">
            <h3>Make a delicious meal to share with your family and friends.</h3>
            <br>
            <h5>You don't know where to buy the ingredients?</h5>
            <br>
            <h5>Don't worry, here you will find recommended places for you to buy  fresh ingredients.</h5>
          </p>

        </div>
       </div>
        <br>
        
        <br>
        <br>
        <br>

       
        

    
        
        

      
      
      <!-- Modal -->
     


      

      <br>
      <br>
      <br>
      <div>
        <img src="images/ca.jpg " class="d-block w-100" alt="footstep" >

      </div>
     
      
     



     <!--Bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>