<%- include('layouts/header.ejs') %>

<br>
<div style="text-align: center;">
    <h1>Salsas</h1>
</div>
<hr>

<br>

  <!--Recipe 4-->
  <div style="text-align: center;">
        
    
    
    <br>
  <div>
    
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="images/greens.jpg" class="card-img-top" alt="ribs">
          <div class="card-body back">
            <h5 class="card-title">Green salsa</h5>
            <p class="card-text">Green salsa for los tacos.</p>
            <button class="btn button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling3" aria-controls="offcanvasScrolling">Tips</button>
  
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling3" aria-labelledby="offcanvasScrollingLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Tips</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <p>You can add some choped onion and cilantro for make your salsa more tasty and better for eat tacos.</p>
              </div>
            </div>
            
          </div>
         
        </div>
        <div class="col-3 card p-3" style="width: 50rem ; text-align: left;">
          <div class="card-body fon">
            <h5 class="card-title text-align: right;">Ingredients</h5>
            <li>1 pound of green tomatoes without skin and washed.</li>
           
            <li>1/2 onion</li>
            
            <li>1 clove garlic</li>
            <li>5 serrano peppers</li>
            <li>salt</li>
            <li>3 cups of water</li>
            <br>
        <h5 class="card-title text-align: right;">Preparation</h5>
            <p class="card-text">In a medium pot, bring the water to a boil, place the chilis, tomatoes and garlic to cook
               over medium heat for about 12-15 minutes. Or when the chilis and tomatoes are already soft and cooked.<br><br>
               Once all the ingredients are cooked, remove with a strainer and reserve ½ cup of the cooking water.<br><br>
               Place the chilies, tomatoes, garlic, and onion in a blender and blend until they form a smooth sauce. If it needs more water, add a little of the cooking water you reserved.<br><br>
               Serve the sauce in a container and season with salt to your liking.</p>
            
          </div>
        </div>
          
          </div>

         

          
      </div>
      <!--Ends recipe 4-->
      <br>
      <br>
      <!--Recipe 5-->
      <div style="text-align: center;">

        
      <div>
        
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="images/reds.jpg" class="card-img-top" alt="ribs">
              <div class="card-body back">
                <h5 class="card-title">Red salsa</h5>
                <p class="card-text">Red salsa for the tacos</p>
                <button class="btn button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling4" aria-controls="offcanvasScrolling">Tips</button>
      
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling4" aria-labelledby="offcanvasScrollingLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Tips</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <p>You can add some choped onion and cilantro for make your salsa more tasty and better for eat tacos.</p>
                  </div>
                </div>
                
              </div>
             
            </div>
            <div class="col-3 card p-3" style="width: 50rem ; text-align: left;">
              <div class="card-body fon">
                <h5 class="card-title text-align: right;">Ingredients</h5>
                <li>1 pound of green tomatoes without skin and washed.</li>
           
                <li>1/2 onion</li>
                
                <li>1 clove garlic</li>
                <li>5 chiles de arbol</li>
                <li>salt</li>
                <li>3 cups of water</li>
                <br>
            <h5 class="card-title text-align: right;">Preparation</h5>
                <p class="card-text">In a medium pot, bring the water to a boil, place the chilis, tomatoes and garlic to cook
                   over medium heat for about 12-15 minutes. Or when the chilis and tomatoes are already soft and cooked.<br><br>
                   Once all the ingredients are cooked, remove with a strainer and reserve ½ cup of the cooking water.<br><br>
                   Place the chilies, tomatoes, garlic, and onion in a blender and blend until they form a smooth sauce. If it needs more water, add a little of the cooking water you reserved.<br><br>
                   Serve the sauce in a container and season with salt to your liking.</p>
              </div>
            </div>
              
              </div>
  
             
  
              
          </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div>
        <img src="images/ca.jpg " class="d-block w-100" alt="footstep" >

      </div>






<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

      