<%- include('layouts/header.ejs') %>

      <br>
      <div style="text-align: center;">
        <h1>Where to buy</h1>
        <h4>Here are some recommended stores in San Antonio to buy ingredients.</h4>
        <hr>
        <br>
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <div class="card-body fon">
                <h5 class="card-title">La Michoacana meat market</h5>
                <h6 class="card-subtitle mb-2 text-muted">Speciality: Meat and Spicies</h6>
                <p class="card-text">These stores are the most recommended due to the high probability of finding all the necessary ingredients 
                  for the recipe you are going to prepare.</p>
                <a href="https://www.lamichoacanameatmarket.com/en/meat-markets-in-san-antonio/" class="card-link  mt-auto">Their website</a>
                
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body fon">
                <h5 class="card-title">H-E-B</h5>
                <h6 class="card-subtitle mb-2 text-muted">Meat, Spices and Vegetables</h6>
                <p class="card-text">These stores are the most recommended due to the high probability of finding all the necessary ingredients 
                  for the recipe you are going to prepare.</p>
                <a href="https://www.heb.com/?utm_medium=cpc&utm_source=google&utm_campaign=search&utm_content=core&gclid=Cj0KCQjw0JiXBhCFARIsAOSAKqBua0JtRh6L-cuCUPzMU-VxdUDQLjqwde09qPaXejEuc9AaCGKBVIUaAkgpEALw_wcB" class="card-link">Their website</a>
                
              </div>
            </div>
  
             <br>
  
              <div class="card" style="width: 18rem;">
                <div class="card-body fon">
                  <h5 class="card-title">La moreliana</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Speciality: Meat</h6>
                  <p class="card-text">This store is recommended to buy meat.</p>
                  <a href="https://www.google.com/maps/dir//la+moreliana+meat+market/@29.4514517,-98.6722402,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x865c5c450b74ef77:0x8c6a559b757e328a!2m2!1d-98.6021979!2d29.4514766" class="card-link  mt-auto">Their location</a>
                  
                </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <div style="text-align: center;">
        
        <h4>Here are some recommended stores in San Antonio to buy alcohol specially tequila.</h4>
        <hr>
        <br>
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <div class="card-body fon">
                <h5 class="card-title">Total Wine and more</h5>
                <h6 class="card-subtitle mb-2 text-muted">Speciality: Drinks</h6>
                <p class="card-text">These stores are the most recommended due to the high probability of finding all the necessary ingredients 
                  for your drinks.</p>
                <a href="https://www.totalwine.com/store-info/texas-san-antonio-del-norte/503?cid=referral:website_link::MomentFeed:503_san_antonio_del_norte_store_details_page:" class="card-link  mt-auto">Their website</a>
                
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card-body fon">
                <h5 class="card-title">Gabriel's</h5>
                <h6 class="card-subtitle mb-2 text-muted">Speciality: wine, liquor and beer</h6>
                <p class="card-text">These stores are the most recommended due to the high probability of finding all the necessary ingredients 
                  for your drinks.</p>
                <a href="https://gabrielsliquor.com" class="card-link">Their website</a>
                
              </div>
            </div>
  
             
  
             
          </div>
      </div>
      <!--Ends navbar-->
      
     

       

    
      <br>
      <br>
      <br>

      <div>
        <img src="images/ca.jpg " class="d-block w-100" alt="footstep" >

      </div>

     
     <!--Bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>