body{
    background-color:azure;
}
.back {
    background-color: whitesmoke;

}
.button{
    background-color:rgb(241, 241, 189);
}
.button1{
    background-color:rgb(249, 204, 90);
}

.button2{
    background-color:rgb(43, 43, 205);
}

.button3{
    background-color:rgb(249, 34, 34);
}
.fon{
    background-color: whitesmoke;
}
h5, p {
    color: black;
}

.fit {
    float: left;
    width:  350px;
    height: 350px;
    object-fit: cover;
}

.fit{
    max-width:100%;
    max-height:100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.div {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
   
  }